<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="BS4-material/assets/img/kit/free/apple-icon.png">
    <link rel="icon" href="BS4-material/assets/img/kit/free/favicon.png">
    <title>
        Guillaume Lormant
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="BS4-material/assets/css/material-kit.css?v=2.0.2">
    <!-- Documentation extras -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="BS4-material/assets/assets-for-demo/demo.css" rel="stylesheet" />
    <!-- iframe removal -->
  </head>

  <body class="index-page ">
      <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
          <div class="container">
              <div class="navbar-translate">
                  <a class="navbar-brand" href="/"><img src="img/cabinet-logo-navbar.png"/></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                  </button>
              </div>
              <div class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="/cabinet" onclick="scrollToDownload()">
                              <i class="material-icons">home</i> Cabinet
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/podologie" onclick="scrollToDownload()">
                              <i class="material-icons">directions_walk</i> Podologie
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="tarifs" onclick="scrollToDownload()">
                              <i class="material-icons">euro_symbol</i> Tarifs
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/contact" onclick="scrollToDownload()">
                              <i class="material-icons">account_box</i> Contact
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>