<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="BS4-material/assets/img/kit/free/apple-icon.png">
    <link rel="icon" href="BS4-material/assets/img/kit/free/favicon.png">
    <title>
        Guillaume Lormant
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="BS4-material/assets/css/material-kit.css?v=2.0.2">
    <!-- Documentation extras -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="BS4-material/assets/assets-for-demo/demo.css" rel="stylesheet" />
    <!-- iframe removal -->
  </head>

  <body class="index-page ">
      <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
          <div class="container">
              <div class="navbar-translate">
                  <a class="navbar-brand" href="/">LOGO</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                  </button>
              </div>
              <div class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                              <i class="material-icons">home</i> Cabinet
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                              <i class="material-icons">directions_walk</i> Podologie
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                              <i class="material-icons">euro_symbol</i> Tarifs
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                              <i class="material-icons">account_box</i> Contact
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
      <div class="page-header header-filter clear-filter blue-filter" data-parallax="true" style="background-image: url('BS4-material/assets/img/kit/bg3.jpg');">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                      <div class="brand">
                          <h1>Guillaume Lormant</h1>
                          <h3>Podologue à Bidart (64210)</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="main main-raised">
          <div class="section section-basic">
              <div class="container">
                  <div class="title">
                      <h2>Contenu</h2>
                  </div>
              </div>
          </div>
      </div>

      <!--  End Modal -->
      <footer class="footer ">
          <div class="container">
              <nav class="pull-left">
                  <ul>
                      <li>
                          <a href="">
                              Address
                          </a>
                      </li>
              </nav>
              <div class="copyright pull-right">
                <i class="material-icons">copyright</i>
                2018 made with <i class="material-icons">favorite</i> by Guillaume Briard.
              </div>
          </div>
      </footer>
      <!--   Core JS Files   -->
      <script src="BS4-material/assets/js/core/jquery.min.js"></script>
      <script src="BS4-material/assets/js/core/popper.min.js"></script>
      <script src="BS4-material/assets/js/bootstrap-material-design.js"></script>
      <!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
      <script src="BS4-material/assets/js/plugins/moment.min.js"></script>
      <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
      <script src="BS4-material/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
      <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
      <script src="BS4-material/assets/js/plugins/nouislider.min.js"></script>
      <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
      <script src="BS4-material/assets/js/material-kit.js?v=2.0.2"></script>
      <!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
      <script src="BS4-material/assets/assets-for-demo/js/material-kit-demo.js"></script>
      <script>
          $(document).ready(function() {

              //init DateTimePickers
              materialKit.initFormExtendedDatetimepickers();

              // Sliders Init
              materialKit.initSliders();
          });
      </script>
    </body>
</html>
