<% include header %>

<div class="page-header header-filter clear-filter blue-filter" data-parallax="true" style="background-image: url('BS4-material/assets/img/kit/bg3.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>Podologie</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
            <div class="title">
                <h2>Podologie</h2>
            </div>
        </div>
    </div>
</div>

<% include footer %>